/* This has been something */
body {
  background-color: #C0FFDA;
}
Div {
  background-color: #2BD1FC;
}
.rad {
  color: #E84DA3;
}
.b1 {
  background-color: #E84DA3;
  position: Absolute;
  opacity: 0.1;
  height: 50%;
  width: auto;
}
