/* This has been something */
body {
  background-color: #C0FFDA;
}
Div {
  background-color: #2BD1FC;
}
.rad {
  color: #E84DA3;
}
/* So this obviously isn't working */
.container {
  background-color: white;
  height: 100px;
  width: 100 px;
  position: absolute;
}
.b1 {
  background-color: #E84DA3;
  position: Absolute;
  opacity: 0.8;
  height: 100px;
  width: 100px;
}
.b2 {
  background-color: #2BD1FC;
  Position: Absolute;
  opacity: .8;
  height: 50px;
  Width: 200px;
  }
