@import url('https://fonts.googleapis.com/css?family=Eagle+Lake');
@import url('https://fonts.googleapis.com/css?family=Mina');
body {
  background-color: #b5b2ad;
}
h1 {
  font-size: 3.5em;
  text-align: center;
  font-weight: bold;
  font-family: 'Eagle Lake', cursive;
}
h2 {
  text-align: center;
  font-size: 30px;
  background-color: #fff7e5;
  width: 350px;
  margin: auto;
  font-style: italic;
  border-style: solid;
  border-width: thin;
  font-family: 'Eagle Lake', cursive;
}
.top {
  background-color: #f4e9d0;
  border-style: solid;
  border-width: 5px;
  max-width: 1000px;
  margin: auto;
}
div {
  max-width: 800px;
  margin: auto;
  background-color: #f4e9d0;
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-width: thin;
}
.body {
  margin-bottom: 1em;
  padding-bottom: 20px;
}
.bottom {
  text-align: center;
}
p {
  font-family: 'Mina', sans-serif;
  line-height: 1.25em;
}
p::first-letter {
  font-family: 'Eagle Lake', cursive;
  font-size: 1.5em;
  color: #590d0d;
}
a:visited {
  color:#777;
}
a:hover {
  color: #3299c1;
  font-style: italic;
}
